<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <% include partial/head %>

    </head>
    
    <body>
          <% include partial/header %>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <section id="slider" class="slider-section">
            <div class="slider1 deafult-slider slider3">
                <div id="img" class="item fullscreen flex flex-middle" style="background-image: url(/images/TU-3.jpeg);">

                    <div class="overlay-slider"></div>
                </div>
                <div id="img" class="item fullscreen flex flex-middle" style="background-image: url(/images/TU-1.jpeg);">

                    <div class="overlay-slider"></div>
                </div>
            </div>
        </section>



        <!--
        JavaScripts
        ========================== -->
        <!-- <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="js/minified/minified.js"></script>
        <script src="js/map-init.js"></script>
    </body>
</html>
