<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
      <% include ../partial/head %>

    </head>
    <body>
      <header id="header1" class="blue-bg default-header">
        <div class="navbar-area flex space-between">
        <div class="left-bar">
            <div id="title">
                  <center style="color:white;font-size:45px;font-family:'AR DELANEY';">Student Attendance Management System</center>
            </div>
        </div>
      </div>

          <div class="container" id="menu">
              <div class="navbar-area flex space-between">
                  <div class="right-bar flex">
                      <nav>
                          <ul id="mobile" class="main-menu  hidden-xs">
                              <li class="my-active"><a href="/home">Home</a>
                              </li>
                              <li><a href="#">Timetable</a>
                                  <ul class="sub-menu">
                                      <li><a href="10-course-grid-01.html" >View Timetable</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Teacher</a>
                                  <ul class="sub-menu">
                                      <li><a href="/teacher/list" >Attendance List</a></li>
                                      <li><a href="/teacher/weekly" >View Weekly Attendance Count</a></li>
                                      <li><a href="27-teacher-list.html" >View Monthly Attendance Count</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Password</a>
                                  <ul class="sub-menu">
                                      <li><a href="/teacher/password" >Change Password</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Logout</a>
                                <ul class="sub-menu">
                                    <li><a href="/" >Logout</a></li>
                              </li>
                          </ul>
                      </nav>
                      <div class="search-icon hidden-xs">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </div>
                  </div>
              </div>
          </div>
      </header>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <main>
            <section id="slider" class="slider-section login">
                <div class="slider2">
                    <div class="register-bg fullscreen flex flex-middle relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="container">
                            <div class="row">
                              <div class="col-md-6 col-sm-8 col-xs-18">
                                  <div class="register-content">

                                  </div>
                              </div>
                                <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                                    <div class="register-form login-form">
                                        <h3>Change Password</h3>
                                        <form id="login" action="/login" method="post">
                                            <label>Current Password</label>
                                            <p><input type="password" id="pw1" name="pw1" onfocus="this.placeholder = ''" onblur="this.placeholder = '........'" placeholder="........"></p>
                                            <label>New Password</label>
                                            <p><input type="password" id="pw2" name="pw2" onfocus="this.placeholder = ''" onblur="this.placeholder = '........'" placeholder="........"></p>
                                            <label>Confirm Password</label>
                                            <p><input type="password" id="pw3" name="pw3" onfocus="this.placeholder = ''" onblur="this.placeholder = '........'" placeholder="........"></p>
                                            <div><button type="submit" class="btn">Change Password</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <!--
        JavaScripts
        ========================== -->
        <!-- <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="js/minified/minified.js"></script>
        <script src="js/map-init.js"></script>
    </body>
    <script src="/js/jquery.min.js" charset="utf-8"></script>

</html>
