<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <% include ../partial/head %>
    <style media="screen">

      #title {
        margin-top: 30px;
        margin-left: 300px;
      }
      #menu{
        /* margin-right:30%; */
        margin-top: 50px
      }
      .reg {
        background-color:#66a3ff;
        padding: 50px;
        color: black;
        width: 700px;
      }
      #pw1, #pw2, #pw3 {
        width: 300px;
        border: 1px solid #eeeeee;
        color: black;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 8px 20px;
        box-shadow: 2.121px 2.121px 7px 0 rgba(0, 0, 0, 0.1);
        font-weight: 400px;
      }
    </style>
    <header id="header1" class="blue-bg default-header">
      <div class="navbar-area flex space-between">
      <div class="left-bar">
          <div id="title">
                <center style="color:white;font-size:45px;font-family:'AR DELANEY';">Student Attendance Management System</center>
          </div>
      </div>
    </div>

        <div class="container" id="menu">
            <div class="navbar-area flex space-between">
                <div class="right-bar flex">
                    <nav>
                        <ul id="mobile" class="main-menu  hidden-xs">
                            <li class="my-active"><a href="/teacher/home">Home</a>
                            </li>

                            <li><a href="#">Teacher</a>
                                <ul class="sub-menu">
                                     <li><a href="/teacher/list" >Attendance List</a></li>
                                    <li><a href="/teacher/monthly" >View Monthly Attendance Count</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Password</a>
                                <ul class="sub-menu">
                                    <li><a href="/teacher/password" >Change Password</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Logout</a>
                              <ul class="sub-menu">
                                  <li><a href="/" >Logout</a></li>
                            </li>
                        </ul>
                    </nav>
                    <div class="search-icon hidden-xs">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <main>
            <!-- Blog Slider Area Start -->
            <section id="slider" class="slider-section">
                <div class="deafult-slider blog-slider">
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-1.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10  col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-3.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-2.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                </div>
            </section>
            <!-- Blog Slider Area End -->
            <section class="blog-home section-full">
                <div class="container">
                    <h2 style="padding-left:20px;">Change Password</h2>
                    <div class="total-blog mt-10">
                        <div class="single-blog text-center row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="blog-head mb-20">
                                  <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                                  <div class="reg ">
                                      <form class="" id="change" action="/change" method="post" >
                                      <label style="color:black; font-size:15px;">Current Password</label>
                                      <p><input type="password" id="pw1" name="pw1" onfocus="this.placeholder = ''" onblur="this.placeholder = '........'" placeholder="........"></p>
                                      <label style="color:black; font-size:15px;">New Password</label>
                                      <p><input type="password" id="pw2" name="pw2" onfocus="this.placeholder = ''" onblur="this.placeholder = '........'" placeholder="........"></p>
                                      <label style="color:black; font-size:15px;">Confirm Password</label>
                                      <p><input type="password" id="pw3" name="pw3" onfocus="this.placeholder = ''" onblur="this.placeholder = '........'" placeholder="........"></p>
                                      <div><button type="submit" class="btn">Change</button></div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer Area Start -->

        <!-- Footer Area End -->


        <!--
        JavaScripts
        ========================== -->
        <script src="/js/vendor/jquery-2.2.4.min.js"></script>
        <!-- <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="/js/minified/minified.js"></script>
        <script src="/js/map-init.js"></script>
    </body>
</html>
