<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <% include ../partial/head %>
    <style media="screen">
      table,th,td{
        width: 1100px;
        margin-left: -80px;
        text-align: center;
        border: 1px solid black;

      }
      th {
        background-color: #1a1aff;
        color: black;
        height: 80px;
        font-size: 20px;
      }
      td {
        color: black;
        height: 70px;
        font-size: 16px;
      }
      tr:nth-child(even){background-color:#809fff;}

      #title {
        margin-top: 30px;
        margin-left: 300px;
      }
      #menu{
        /* margin-right:30%; */
        margin-top: 50px
      }
    </style>
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <header id="header1" class="blue-bg default-header">
      <div class="navbar-area flex space-between">
      <div class="left-bar">
          <div id="title">
                <center style="color:white;font-size:45px;font-family:'AR DELANEY';">Student Attendance Management System</center>
          </div>
      </div>
    </div>

        <div class="container" id="menu">
            <div class="navbar-area flex space-between">
                <div class="right-bar flex">
                    <nav>
                        <ul id="mobile" class="main-menu  hidden-xs">
                            <li class="my-active"><a href="/teacher/home">Home</a>
                            </li>

                            <li><a href="#">Teacher</a>
                                <ul class="sub-menu">
                                  <li><a href="/teacher/timetable" >Timetable</a></li>
                                    <li><a href="/teacher/list" >Attendance List</a></li>
                                    <li><a href="/teacher/monthly" >View Monthly Attendance Count</a></li>                                  </ul>
                            </li>
                            <li><a href="#">Password</a>
                                <ul class="sub-menu">
                                    <li><a href="/teacher/change" >Changing Password</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Logout</a>
                              <ul class="sub-menu">
                                  <li><a href="/logout" >Logout</a></li>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <main>
            <!-- Blog Slider Area Start -->
            <section id="slider" class="slider-section">
                <div class="deafult-slider blog-slider">
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-1.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10  col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-3.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-2.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                </div>
            </section>
            <!-- Blog Slider Area End -->
            <section class="blog-home section-full">
                <div class="container">
                    <h2 style="padding-left:20px;">Timetable</h2>
                    <br>
                    <div class="total-blog mt-10">
                        <div class="single-blog text-center row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="blog-head mb-20">
                                  <table>
                                       <thead>
                                         <tr>
                                           <th>Date</th>
                                           <th>Time</th>
                                           <th>Class</th>
                                           <th>Subject</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                       <% for(let i= 0; i< list.length; i++){
                                       %>
                                         <tr>
                                       <%
                                         if(list[i].date_id == '1'){
                                       %>
                                             <td>Monday</td>
                                       <%
                                       }
                                         else if(list[i].date_id == '2'){
                                       %>
                                             <td>Tuesday</td>
                                       <%
                                           }
                                          else if(list[i].date_id == '3'){
                                       %>
                                           <td>Wednesday</td>
                                         <%
                                           }
                                           else  if(list[i].date_id == '4'){
                                         %>
                                           <td>Thursday</td>
                                         <%
                                             }
                                           else if(list[i].date_id == '5'){
                                         %>
                                           <td>Friday</td>
                                         <%
                                           }
                                             else
                                           {
                                         %>
                                             <td>Not selected date</td>
                                         <% } %>
                                         <!-- end_for_date -->
                                         <%
                                           if(list[i].time == '1'){
                                         %>
                                               <td>8:30AM-9:30AM</td>
                                         <%
                                         }
                                           else if(list[i].time == '2'){
                                         %>
                                               <td>9:35AM-10:35AM</td>
                                         <%
                                             }
                                            else if(list[i].time == '3'){
                                         %>
                                             <td>10:40AM-11:40AM</td>
                                           <%
                                             }
                                             else  if(list[i].time == '4'){
                                           %>
                                             <td>12:40PM-1:40PM</td>
                                           <%
                                               }
                                             else if(list[i].time == '5'){
                                           %>
                                             <td>1:45PM-2:45PM</td>
                                             <%
                                                 }
                                               else if(list[i].time == '6'){
                                             %>
                                               <td>2:50PM-3:50PM</td>
                                           <%
                                             }
                                               else
                                             {
                                           %>
                                               <td>Not selected date</td>
                                           <% } %>

                                             <td><%=list[i].class; %></td>
                                             <td><%=list[i].subj_name; %></td>
                                           </tr>
                                         <% } %>
                                         </tbody>
                                       </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer Area Start -->

        <!-- Footer Area End -->


        <!--
        JavaScripts
        ========================== -->

        <!-- <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="/js/minified/minified.js"></script>
        <script src="/js/map-init.js"></script>
    </body>

</html>
