<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <% include ../partial/head %>
    <style media="screen">
      table,th,td{
        width: 1100px;
        margin-left: -80px;
        text-align: center;
        border: 1px solid black;
        height: 35px;
      }
      th {
        background-color:  #e65c00;
        color: white;
        height: 50px;
        font-size: 18px;
      }
      td {
        color: black;
      }
      tr:nth-child(even){background-color:#ffd1b3;}

      #title {
        margin-top: 30px;
        margin-left: 300px;
      }
      #menu{
        /* margin-right:30%; */
        margin-top: 50px
      }
    </style>
    <header id="header1" class="blue-bg default-header">
      <div class="navbar-area flex space-between">
      <div class="left-bar">
          <div id="title">
                <center style="color:white;font-size:45px;font-family:'AR DELANEY';">Student Attendance Management System</center>
          </div>
      </div>
    </div>

        <div class="container" id="menu">
            <div class="navbar-area flex space-between">
                <div class="right-bar flex">
                    <nav>
                        <ul id="mobile" class="main-menu  hidden-xs">
                            <li class="my-active"><a href="/home">Home</a>
                            </li>
                            <li><a href="#">Timetable</a>
                                <ul class="sub-menu">
                                    <li><a href="10-course-grid-01.html" >View Timetable</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Teacher</a>
                                <ul class="sub-menu">
                                    <li><a href="/login" >Teacher</a></li>
                                    <li><a href="/teacher/list" >Attendance List</a></li>
                                    <li><a href="/teacher/weekly" >View Weekly Attendance Count</a></li>
                                    <li><a href="27-teacher-list.html" >View Monthly Attendance Count</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Logout</a>
                              <ul class="sub-menu">
                                  <li><a href="/" >Logout</a></li>
                            </li>
                        </ul>
                    </nav>
                    <div class="search-icon hidden-xs">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="search-area">
            <div class="container">
                <div class="row fitscreen flex flex-middle relative">
                    <form action="#" class="search-form">
                        <input id="focus" placeholder="Search your query and press “Enter”" type="text">
                    </form>
                </div>
            </div>
        </div>
        <main>
            <!-- Blog Slider Area Start -->
            <section id="slider" class="slider-section">
                <div class="deafult-slider blog-slider">
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-1.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10  col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-3.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                    <div class="item flex flex-middle" style="background-image: url(/images/TU-2.jpeg);">
                        <div class="container">
                            <div class="col-md-offset-1 col-md-10 col-xs-12">
                                <div class="slide-content text-center">

                                </div>
                            </div>
                        </div>
                        <div class="overlay-slider"></div>
                    </div>
                </div>
            </section>
            <!-- Blog Slider Area End -->
            <section class="blog-home section-full">
                <div class="container">
                    <h2 style="padding-left:20px;">Weekly Attendance Count</h2>
                    <div class="total-blog mt-10">
                        <div class="single-blog text-center row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="blog-head mb-20">
                                    <table>
                                      <thead>
                                        <tr>
                                          <th>Roll No.</th>
                                          <th>Name</th>
                                          <th>Count</th>
                                          <th>Attendance Count</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                          <tr>
                                            <td>roll no.</td>
                                            <td>name</td>
                                            <td>2</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>roll no.</td>
                                            <td>name</td>
                                            <td>2</td>
                                            <td>1</td>
                                          </tr>
                                      </tbody>
                                    </table>
                                    <br>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer Area Start -->

        <!-- Footer Area End -->


        <!--
        JavaScripts
        ========================== -->
        <script src="/js/vendor/jquery-2.2.4.min.js"></script>
        <!-- <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script>
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="/js/minified/minified.js"></script>
        <script src="/js/map-init.js"></script>
    </body>
</html>
